* {
    box-sizing: border-box;
}
body
{
    margin: 0;
    display:flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav
{
    max-width: 250px;
    background-color: rgb(204, 204, 204);
    height:100vh;
    border-right: 2px solid #777;
}
nav header{
    padding: 10px;
}
nav a {
    border-top: 2px solid #777;
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}
main{
    flex:1;
    overflow-y: scroll;

}
section{
    padding: 15px;
    font-size: 20px;
    line-height: 1.5;
    max-width: 70%;
}
header{
    font-size:24px;
    font-weight: bold;
    
}
li {
    padding: 5px;
}
.keywords{
 border: 0.1px solid rgb(218, 218, 218);
background-color: rgba(231, 231, 231, 0.781);
 border-radius: 1px;
 padding-left: 1vh;
 padding-right: 1vh;
 
 
}
.container{
    display:grid;
    
   grid-template-columns: auto auto;

   border: 0.1px solid rgb(218, 218, 218);
background-color: rgba(231, 231, 231, 0.781);
 border-radius: 1px;
 padding-left: 1vh;
 padding-right: 1vh;
}
.box{
 
 padding: 10px;
}
@media (max-width:600px)
{
    nav{
 border-right: none;
 border-bottom: 2px solid #777;
 height: 300px;
 overflow-y: scroll;
 width: 100%;
    }
    main{
        height: auto;
        width: 100%;
    }
}